Repository utsavk1993/react-starter-seed: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "yarn lint",
    "prettier --write"
  ],
  "*.{css,scss}": [
    "prettier --write"
  ]
}

#2 - Add formatter in the starter seed (#12)
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  package.json
  src/App.tsx
  yarn.lock
Due: yarn lint, prettier --write

#3 - Add jest with react testing library in the starter seed
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/index.tsx
Due: yarn lint, prettier --write

#3 - Add jest with react testing library in the starter seed (#13)
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/index.tsx
Due: yarn lint, prettier --write

Added github workflow actions
  .github/workflows/main.yml
  package.json
Due: none

Added github workflow actions (#14)
  .github/workflows/main.yml
  package.json
Due: none

commit
  src/App.css
Due: prettier --write
